@font-face {
  src: url( ./Fonts/Roboto-Medium.ttf );
  font-family: Roboto-med;
}

@font-face {
  src: url(./Fonts/RobotoCondensed-Regular.ttf);
  font-family: RobotoCondensed-Reg;
}

@font-face {
  src: url(./Fonts/RobotoCondensed-Light.ttf);
  font-family: RobotoCondensed-Light;
}

.dev-with-yt-text {
  font-family: RobotoCondensed-Light;
  display: inline-block;
  margin: 0px;
  .dev-with-yt-svg {
    padding-left: .2em;
    height: 1.2em;
    fill: #282828; // Almost black - https://www.youtube.com/about/brand-resources/
  }
}

.nav-profile-icon {
  display: inline-flex;
  vertical-align: middle;
}

.logo-inv {
  path.outterText {
    fill: $nav-bg;
  }
  path.innerText {
    fill: $nav-text;
    stroke: $primary-color-light; 
    stroke-width: .5;
  }
  text-align: center;
  left: 50%;
  vertical-align: middle;
}

svg.svg-googlecolor {
  path {
    stroke-width: 0.3;
    stroke: teal;
  }
  // vertical-align: middle;
  // height: 100%;
  // width: 100%;
  // margin-bottom: 4px;
  // margin-right: 3px;
}

// https://material.io/design/typography/the-type-system.html 10sp =0.625rm => 18sp = 1.125rem
.modal-content {
  margin-top: 1em;
  // padding: 0.1em !important;
}

.modal-logo {
  @extend .center-align;
  width: 60%;
  display: inline-block
}

.ggl-log-btn-wrap {
  justify-content: center;
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

.ggl-log-btn {
  @extend .z-depth-2;
  @extend .valign-wrapper;
  @extend .center-align;
  width: 15em;
  background-color: #4285F4; // Google sign in assets requirment
  border-radius: 1px;
  height: 40px;
  &:hover {
    cursor: pointer;
  }

}

.ggl-log-btn-text {
  font-family: "Roboto-med";
  color: #FFFFFF;
}


.ggl-svg-icon {
  @extend .center-align;
  height: 18px;
  width: 18px;
}

.ggl-tile-wrap {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  height: 100%;
  border-color: #4285F4;
  border-style: solid;
  border-width: 1px;
  margin-right: 16px; // 8 + 16 = 24 as required by google sign in assets

}

.ggl-log-icon-wrap {
  @extend .valign-wrapper;
  @extend .center-align;
  margin-left: 8px;
  margin-right: 8px;
  height: auto;
  padding: 1px;
  // width: 38px;
  // width: 2.2em;
  // height: 2.2em;
  background-color: #FFFFFF; 

}

.logo-nav {
  path.outterText {
    fill: $nav-text;
  }
  path.innerText {
    fill: $nav-bg;
    stroke: midnightblue; 
    stroke-width: .5;
  }
  margin-right: .3em;
  vertical-align: middle;
  margin-bottom: 4px;
}

.dev-with-yt {
  // border-radius: 3px;
  // border-style: solid;
  // border-width: thin;
  // margin-top: .1em;
  // padding: .09em;
  // width: 16em;
  width: 60%;
  border-color:rgba(0,0,0, 0);  
  opacity: 0.8;
}
.dev-with-yt-demo-setting {
  margin-top: .1em;
  max-width: 9em;
  opacity: 1.0;

}
.dev-with-yt-demo-home {
  margin-top: .1em;
  max-width: 9em;
  opacity: 1.0;

}


.dev-with-yt-main {
  @extend .dev-with-yt;
  width: 6.3em;
}

.brand-logo-aux {
  margin-left: .3em;
}

.nav-wrapper {
  height: 50px;
  background-color: $nav-bg;
  @extend .z-depth-2;
}

.side-nav  {
  margin: 1em;
  width: 90%;
}

.dropdown-content {
  top: 100% !important;
}

.nav-text {
  font-size: medium;
}

.profile-pic {
  border-radius: 50%;
  height: 2.5em;
  margin: auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
