.nav-profile-icon {
  display: inline-flex;
  vertical-align: middle;
}

svg.svg-googlecolor {
  path {
    stroke-width: 0.3;
    stroke: teal;
  }
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 3px;
}


.logo-inv {
  path.outterText {
    fill: $nav-bg;
  }
  path.innerText {
    fill: $nav-text;
    stroke: $primary-color-light; 
    stroke-width: .5;
  }
  text-align: center;
  left: 50%;
  vertical-align: middle;
}

.logo-nav {
  path.outterText {
    fill: $nav-text;
  }
  path.innerText {
    fill: $nav-bg;
    stroke: midnightblue; 
    stroke-width: .5;
  }
  margin-right: .3em;
  vertical-align: middle;
  margin-bottom: 4px;
}

.dev-with-yt {
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  margin-top: .1em;
  padding: .09em;
  width: 16em;
  border-color:rgba(0,0,0, 0);
  opacity: 0.8;
}

.brand-logo-aux {
  margin-left: .3em;

}

.dev-with-yt-demo {
  @extend .dev-with-yt;
  width: 15em;
}

.nav-wrapper {
  height: 50px;
  background-color: $nav-bg;
  @extend .z-depth-2;
}

.side-nav  {
  margin: 1em;
  width: 90%;
}

.dropdown-content {
  top: 100% !important;
}

.nav-text {
  font-size: medium;
}

.profile-pic {
  border-radius: 50%;
  height: 2.5em;
  margin: auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
