//////////////////////////////////////////////////////////////
//             https://codepen.io/michmy/pen/jBQQpp
//////////////////////////////////////////////////////////////

$color--drop-hover: #000000;
$color--drop-bg: rgba(205, 209, 211, 0.5);
$color--drop-arrow: #7b7b7b;
$color--text: black;

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;

  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: $color--drop-bg;
    color: $color--text;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:-ms-expand {
      display: none;
    }
    &:hover {
      color: $color--drop-hover;
      background: $color--drop-bg;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: $color--drop-arrow transparent transparent transparent;
  .select select:hover ~ & {
    border-top-color: $color--drop-hover;
  }
}
