/* Dont delte, used by SettingLogic.logIds() */
.subitem {
  margin: 0;
  height: 60px;
  border-top: 1px solid $collection-border;
  border-bottom: 1px solid $collection-border;
  display: flex;
  justify-content: space-between;
  background-color: $collection-bg-main;
  &:hover {
    background-color: $collection-bg-hover-c;
  }
}

.set-top-bothalf {
  margin-top: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  .btn {
    background-color: $nav-btn-color !important;
  }
}
#add-more-btn.btn {
  background-color: $nav-btn-color !important;
}
#about-container {
  min-height: 50em;
}

.shelf-title-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 2.5em;
  background-color: $collection-title-color;
  color: $collection-title-txt-c;
}

/* DONT delete this, used by SettingsLogic.logAllShelfs() & SettingsLogc.logIds() */
div.subListWrapper {
  background-color: $collection-bg-under;
}

.set-sh-textaux {
  @include truncate(1);
}

.set-sh-unsort-pad {
  margin-left: 1.5em;
}

.timelapse-icon {
  width: 10px;
  margin: auto;
  padding: 10px;
  background-color: transparent;
}

.unsort-shelf {
  margin-bottom: 3em;
}

.set-howto {
  position: relative;
  bottom: 0em;
}

.set-howto2 {
  margin-left: 0.1em;
}

.set-howto-aux {
  &:hover {
    cursor: pointer;
  }
}

.set-top-title {
  display: flex;
  margin-right: 0.5em;
}

.set-top-tophalf {
  display: flex;
  justify-content: space-between;
}

.shelf-title {
  margin: 5px;
  font-size: 1.3em;
  font-weight: 600;
}

.shelf-title2 {
  @include truncate(2);
}

.shelf-text {
  padding: 10px;
  font-size: 1.4em;
  color: #000;
}

.sub-QHack {
}

.unSortDndWrap {
  height: 100%;
}

@mixin handle-cursor {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.handle-sub {
  @include handle-cursor();
}

.handle-shelf {
  margin-left: 0.3em;
  margin-right: 0.3em;
  @include handle-cursor();
}

.shContainer {
  @extend .z-depth-2;
}

.dot {
  background: rgba(0, 0, 0, 1) !important;
}

.legend {
  background: rgba(0, 0, 0, 0.7) !important;
  font-size: 1em !important;
  font-weight: 600;
}

.carousel {
  height: 100% !important;
}

.cara1 .cara-help {
  object-fit: contain;
  max-height: $height-modal;
}

.cara2 .cara-help {
  object-fit: contain;
  max-height: $height-modal2;
}

.cara2 {
  justify-content: center;
  display: flex;
  background-color: grey;
  border: 3px solid black;
  max-height: $height-modal2;
}
