


/* Dont delte, used by SettingLogic.logIds() */
.subitem {
  margin: 0;
  height: 60px;
  border-top: 1px solid $collection-border;
  border-bottom: 1px solid $collection-border;
  // border-left: 1px solid $collection-border;
  // border-right: 1px solid $collection-border;
  display: flex;
  justify-content: space-between;
  background-color: $collection-bg-main;
   &:hover{
     background-color: $collection-bg-hover-c; 
    }
}


.shelf-title-wrap{
  display: flex;
  justify-content: space-between;
  min-height: 2.5em;
  background-color: $collection-title-color;
  color: $collection-title-txt-c;
  //border-radius: 10px 10px 0 0;
  
}

/* DONT delete this, used by SettingsLogic.logAllShelfs() & SettingsLogc.logIds() */
div.subListWrapper {
  background-color: $collection-bg-under;
 // background-color: transparent;
}
.set-topbody {
  // margin: 1em;
}

.set-sh-textaux { 
  @include truncate(1);
}

.set-sh-unsort-pad{
  margin-left: 1.5em;  
}


.timelapse-icon {
  width: 10px;
  margin: auto;
  padding: 10px;
  background-color: transparent;
}


.unsort-shelf {
   /* width: 300px;  */
   /* background-color: lightgoldenrodyellow; */
  /* height:100%; */
}

.set-howto{
  position: relative;
  bottom: 0em;
}

.set-howto2 {
  margin-left: .6em;
  margin-top: .5em;
}

.set-howto-aux {
  &:hover{
    cursor: pointer;
   }
}

.set-top-tophalf {
  display: flex;
}

.set-top-bothalf {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.shelf-title {
  margin: 5px;
  font-size: 1.3em;
  font-weight: 600;
}

.shelf-title2 {  
  @include truncate(2);
}

.shelf-text{
  padding: 10px;
  font-size: 1.4em;
  color: #000
}


.set-custom-shelf {
  //@extend .blue-grey, .darken-2;   // .grey-text, .text-lighten-5; 
  //@extend .red, .darken-2;   // .grey-text, .text-lighten-5; 
}

.sub-QHack{
 
}

.unSortDndWrap {
  //background-color: darkslategrey;
  height: 100%;
  /* min-height: 40px; */
}



@mixin handle-cursor {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;  
}

.handle-sub {
  @include handle-cursor()
}

.handle-shelf {
  margin-left: 0.3em;
  margin-right: 0.3em;
  @include handle-cursor()
}