
.yt-body-wrapper {
  // padding-left: 1em;
  // padding-right: 1em;
  //padding: 1em;
}
.yt-shelf-outer-wrap{
  //@extend .z-depth-5;
  margin-top: 1em;
  margin-bottom: 1em;
  
}


.yt-shelf {
  /* white-space: nowrap;
  display: inline-flex;
  flex-wrap: wrap;  */
  background-color:  $body-secondary;
  /* justify-content: center; */
}

.collection {
  //padding-top: 1em;
  background-color: white;
  //border-bottom: 0px !important;
}

.collection-item {
  border-bottom: 0px !important;
}

.yt-shelf-inner-wrap {
  
   background-color: $body-secondary;

   
  //  border-style: none none solid none;
  //  border-width: .2em;
  padding-left: 1em;
  padding-right: 1em;
   padding-bottom: 1em;   
}

.div-aux {
  
  // margin-top: 1em;
  // margin-bottom: 1em;;
  margin: 1em;
  border-style: none none solid none;
  
  border-width: 2px;
  color: $yt-shelf-divider;
}

.about-div-padding{
  margin-bottom: 5em;
}

.yt-videos-wrap {
  
}

.yt-shelf-title {
  color: $yt-shelf-txt-color;
  font-size: 1.8em;
  font-weight: 500;
  margin-left: .5em;
  // border-style: none none solid none;
  // border-width: 2px;
  // width: 200px;
}

.yt-loadmore-btn {
  margin-bottom: .5em;
}

.demo-greeting-wrap{
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: .5em;  
}


.profile-msg { // see yt-shelf-inner-wrap for border
  color: $yt-greeting-color;
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1em;
  margin-left: 1em;
  // border-style: none none solid none;
  // border-width: .2em;
  // border-color: rgba(40, 41, 41, 0.657);

}

.profile-greeting-wrap{
  margin-left: 1.5em;
  // margin-right: 1.5em;
  
}
.profile-greeting-wrap {
  //display: inline-flex;
  //margin-left: .5em; //see .demo-greeting-wrap
  //margin-top: 1em;
}

.profile-msg2 { // see yt-shelf-inner-wrap for border
  color: $yt-greeting-color;
  //font-size: 1.8em;
  //font-weight: 500;
  margin-bottom: 1em;

  // border-style: none none solid none;
  // border-width: .2em;
  // border-color: rgba(40, 41, 41, 0.657);
}
