.yt-shelf-outer-wrap {
  margin-top: 1em;
  margin-bottom: 1em;
}

.yt-shelf {
  background-color: $body-secondary;
}

.collection {
  background-color: white;
}

.collection-item {
  border-bottom: 0px !important;
}

.yt-shelf-inner-wrap {
  background-color: $body-secondary;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.div-aux {
  margin: 1em;
  border-style: none none solid none;

  border-width: 2px;
  color: $yt-shelf-divider;
}

.about-div-padding {
  margin-bottom: 5em;
}

.yt-shelf-title {
  color: $yt-shelf-txt-color;
  font-size: 1.8em;
  font-weight: 500;
  margin-left: 0.5em;
}

.yt-loadmore-btn {
  margin-bottom: 0.5em;
}

.demo-greeting-wrap {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.profile-msg {
  color: $yt-greeting-color;
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1em;
  margin-left: 1em;
}

.profile-greeting-wrap {
  margin-left: 1.5em;
}

.profile-msg2 {
  color: $yt-greeting-color;
  margin-bottom: 1em;
}
