body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: dimgrey;
  text-align: center;
}

ul {
  margin: 0; 
  padding: 0; 
}

li {

  display: inline-block;
  margin: 10px;
}

li.video {
  width: 450px;
  overflow: hidden;
}

ul.shelf {
  white-space: nowrap;
  
  overflow: auto;
  overflow-y: hidden;
}

li.myget {
  display: table;
}

.block-list {
  margin: 10px;
  max-width: 360px;
  background-color: #1d5358;
  border: 1px solid #eee;
  /* display: inline-block; kinda solves left align prob*/
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li.block {
}

.sortable-chosen {
  color: #fff;
  background-color: #ba4747;
}

div.block {
  margin: 0;
  height: 40px;
  
  border-top: 1px solid #5a1616;
  border-bottom: 1px solid #5a1616;
  
}


.subitem {
  margin: 0;
  height: 40px;
  border-top: 1px solid #5a1616;
  border-bottom: 1px solid #5a1616;
  display: flex;
  justify-content: space-between;
}

div.subListWrapper {
  border: 3px solid purple;
  background-color: cadetblue
}

div.shelf {
  border: solid pink;
}

sh-QHack{

}
sub-QHack {

}

i.block {
  margin: 10px;
  padding: 5px;
}

.handle {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}



.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 95, 96, 0.6)
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}