body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading-main-animation {
  display: flex;
  justify-content: space-around
}

/* 
nav {
  height: 50px !important;
} */

/* .my-nav {
  height: 50px;
  background: rgba(0,0,0,0.2);
} */

 .nav-wrapper{
  height: 50px;
} 


li.video {
  width: 250px;
  overflow: hidden;
}

ul.shelf {
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
}

.ytShelfWrap {
  border-color: lightblue;
  border-style: solid;
}
/* 
li.myget {
  display: table;
} */
/* 
.block-list {
  margin: 10px;
  max-width: 360px;
  background-color: #1d5358;
  border: 1px solid #eee;
  /* display: inline-block; kinda solves left align prob*/
  /* cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li.block {
} */ 

.sortable-chosen {
  color: #fff;
  background-color: #ba4747;
}

div.block {
  margin: 0;
  height: 40px;
  
  border-top: 1px solid #5a1616;
  border-bottom: 1px solid #5a1616;
  
}
/* Dont delte, used by SettingLogic.logIds() */
.subitem {
  margin: 0;
  height: 60px;
  border-top: 1px solid #5a1616;
  border-bottom: 1px solid #5a1616;
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
}

/* DONT delete this, used by SettingsLogic.logAllShelfs() & SettingsLogc.logIds() */

div.subListWrapper {
  /*border: 3px solid purple;*/
  background-color: cadetblue;

}

div.shelf {
}


body {
  height: 100%;
  overflow: auto;
}



.unsort-shelf {
   /* width: 300px;  */
  background-color: lightgoldenrodyellow;
  /* height:100%; */
}

.unSortDndWrap {
  background-color: darkslategrey;
  height: 100%;
  /* min-height: 40px; */
}

 /* .flex-subshelf-container {
  display: flex;
}  */



.shelf-title-wrap{
  display: flex;
  justify-content: space-between;
}

/* .shelfText {  cehck sass
  margin: 5px;
} */

.shelfEditBtn {
  height: 25px;
  margin: auto;
}

.shContainer {
   /* border: solid black;  */
   /* max-width: 500px; */
}

.auxSort { 
  border: solid red;
}

.auxUnsort {
  
  border: solid blue;
}




i.block {
  margin: 10px;
  padding: 5px;
}

.handle-sub{
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.handle-shelf {
  margin-left: 0.5em;
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.infoIcon{
  padding: 5px;
}

.customLook{ 
  display: block;

}


.tagify {
  --tags-bg: #ff0000;
  --tag--min-width: 10px;
}

.tagify__input {
  min-width: 10px !important;
}


.myTagify__input {
  display: block;
  margin: 5px;
  padding: .3em .5em;
  padding: var(--tag-pad,.3em .5em);
  line-height: inherit;
  position: relative;
  white-space: pre-line;
}

.filter-mod-help {

  transform: translate(-50%, -50%) !important;
  margin-right: -50% !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
}

.modal {
  /* background-color: none; */
}

.Modal {
  position: absolute !important;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #ccc; */
  background-color: #fff;
  overflow: auto;
  /* padding: 20px; */
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 95, 96, 0.6)
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}