

 $mainTextColor: whitesmoke;
 $mainGrey: grey;
 
 //$mainSoftTeal: @extend .grey, .darken-1;
 

body {
  @extend .grey, .darken-1;

}

.save-btn {
  margin: 10px;
}

.shelf-text{
  padding: 10px;
  font-size: 1.4em;

}

// .btn{
//   background-color: red !important;
// }

.time-icon-help{
 
}

.filt-button {
  background-color: #474747 !important;
}
.shelf-title {
  margin: 5px;
  font-size: 1.3em;
  font-weight: 600;
}

.custom-shelf {
  /* min-width: 500px; */
  // background-color: peru;
  @extend .blue-grey, .darken-2;   // .grey-text, .text-lighten-5; 
}

.rename-image {
  width: 15.0em;
  height: 100%;
}

.filter-image {
  width: 15em;
  height: 100%;
}

.rename-mod-btn {
 display: flex;
 justify-content: space-around;
 
}



.rename-icon{
 color: black; 
 margin-top: 5px;
 margin-right: 5px;
 &:hover{
   cursor: pointer;
  }
}

.rename-content {
  padding: 10px;
  align-items: center;
}

.timelapse-icon{
  width: 10px;
  margin: auto;
  padding: 10px;
  
  background-color: transparent;
  
}

svg.svg-googlecolor {
     path {
     //fill: blue;
     stroke-width: .3;
     stroke: teal;
     }
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 3px;
  }
  svg.svg-mygoogle2 {
     path {
     fill: $mainTextColor;
     }
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 3px;
        
  }
  // https://github.com/Dogfalo/materialize/blob/master/sass/components/_variables.scss
  // https://materializecss.com/sass.html
//  @import "../../node_modules/materialize-css/sass/materialize";
// last comment https://stackoverflow.com/questions/39785695/how-to-change-default-materialize-theme-colour-in-rails-application
  @import "../../node_modules/materialize-css/sass/components/color-variables";

  
  $primary-color: color("blue-grey", "darken-2") !default;
  $primary-color-light: lighten($primary-color, 15%) ;
  $primary-color-dark: darken($primary-color, 15%) ;

//  $secondary-color: color("amber", "lighten-1") !default;
  $secondary-color: color("grey", "darken-3") !default;
  $success-color: color("green", "base") ;
  $error-color: color("red", "base") ;
  $link-color: color("light-blue", "darken-1") ;
  

  @import "../../node_modules/materialize-css/sass/materialize";

//$mainSoftTeal: @extend .blue-grey, .darken-2;